[tool.poetry]
name = "herre"
version = "0.1.71"
readme = "README.md"
description = "openid connect client tailore to pyqt and async environments"
authors = ["jhnnsrs <jhnnsrs@gmail.com>"]
license = "CC BY-NC 3.0"
packages = [{include = "herre"}]

[tool.poetry.dependencies]
python = "^3.7"
QtPy = "^1.11.1"
rich = "^11.0.0"
aiohttp = "^3.7.4"
oauthlib = "^3.1.1"
fakts = {version = "^0.1.47", optional = true}
pydantic = "^1.9.0"
koil = "0.1.106"

[tool.poetry.extras]
windowed = ["PyQtWebEngine"]
fakts = ["fakts"]


[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-aiohttp = "^0.3.0"
pytest-cov = "^3.0.0"
black = "^21.12b0"
tox = "^3.24.5"
pytest-qt = "^4.0.2"
PyQtWebEngine = "^5.15.5"
PyQt5 = "^5.15.6"

[tool.pytest.ini_options]
qt_api="pyqt5"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
