[tool.poetry]
name = "herre"
version = "0.1.33"
readme = "README.md"
description = "The governing package for modules of the arnheim framework, it provides core features like wards, the event loop and authentication with an oauth provider"
authors = ["jhnnsrs <jhnnsrs@gmail.com>"]
license = "CC BY-NC 3.0"
packages = [{include = "herre"}]

[tool.poetry.dependencies]
python = "^3.8"
pydantic = "^1.8.2"
PyYAML = "^5.4.1"
QtPy = "^1.11.1"
jupyter = {version = "^1.0.0", optional = true}
PyQt5 = { version = "^5.15.4", optional=true}
PyQtWebEngine = { version ="^5.15.4", optional=true}
requests-oauthlib = "^1.3.0"
rich = "^10.9.0"
aiohttp = "^3.7.4"
fakts = "^0.1.11"

[tool.poetry.extras]
jupyter = ["jupyter"]
pyqt = ["PyQt5","PyQtWebEngine"]


[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-aiohttp = "^0.3.0"
tox = "^3.24.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
